
<!DOCTYPE html>
<html lang="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap -->
<link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ site.baseurl }}/css/bootstrapOverride.css" rel="stylesheet">
<link href="{{ site.baseurl }}/css/bootstrapOverridePosts.css" rel="stylesheet">
<link href="{{ site.baseurl }}/css/zenburn.css" rel="stylesheet">
<!-- FontAwesome -->
<link href="{{ site.baseurl }}/css/font-awesome.min.css" rel="stylesheet">
<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Comfortaa|Great+Vibes|Merriweather:400,400italic,700' rel='stylesheet' type='text/css'>
<!-- <link rel="icon" href="favicon.png"> -->
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<head>
  <meta charset="UTF-8">
  <title>{{page.title}}</title>
</head>

<body>
