{% include head.html %}

  <div class="container">

    <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">

          <a class="navbar-brand" href="http://www.k3no.com">K3NO</a>
        </div>
      </div><!--/.container-fluid -->
    </nav>

    <div class="row">
      <!-- Social Media and other Portfolio Sites -->
      <div class="col-md-6 col-md-offset-3 text-center linkBar">

        <a href="https://codepen.io/k3no/" target="_blank"><i class="fa fa-codepen fa-2x"></i></a>
          <a href="https://instagram.com/instakenogram/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
          <a href="https://medium.com/@k3no" target="_blank"><i class="fa fa-medium fa-2x"></i></a>
          <a href="https://www.linkedin.com/in/kenoleon" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
          <a href="https://stackoverflow.com/users/7010830/keno?tab=profile" target="_blank"><i class="fa fa-stack-overflow fa-2x" aria-hidden="true"></i></a>
          <a href="https://github.com/KenoLeon" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
          <a href="mailto:me@k3no.com"><i class="fa fa-envelope-o fa-2x"></i></a>

      </div>
    </div>

    <div class="row spacer"></div>

    <!-- Main Content -->

     {{content}}


    <!-- Main Content -->



{% include foot.html %}
